[Desktop Entry]
Version=1.0.0
Type=Application
Name=wxmav
Comment=M A/V Player (WX)
TryExec=wxmav
Exec=wxmav
Icon=wxmav
Categories=AudioVideo;Audio;Sound;Video;Multimedia;Utility;
