[Desktop Entry]
Type=Application
Version=1.0.0
Encoding=UTF-8
Terminal=false
Name=wxmav
GenericName=Media player (wxmav)
Comment=Play video and audio files and URLs
TryExec=wxmav
Exec=wxmav %U
Icon=wxmav
Categories=AudioVideo;Sound;Audio;Music;Video;Multimedia;X-MandrivaLinux-Multimedia-Video;
