!*.h *.c *.cpp *.cc *.cxx .gitignore *.sh *.nsi *.pot Makefile README*
dbg
autom4*
uninstall/*
*.pot
*.bak
bak
*.geany
*.o
*_dbg
*.exe
*.mo
.depend
depend
*-working
.exrc
.nexrc
.INSTALL
.aclocal.m4
.compile
.config.guess
.config.sub
.depcomp
.install-sh
.missing
.mkinstalldirs
.py-compile
